@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  // font families
  --ff-heading: "Montserrat", sans-serif;
  --ff-body: "Inter", sans-serif;
  --ff-other: "Lato", sans-serif;

  // line heights
  --lh-heading: 1;
  --lh-body: 1.7;

  // font sizes
  --fs-body: 16px;
  --fs-heading-45: 45px;
  --fs-heading-43: 43px;
  --fs-heading-37: 37px;
  --fs-heading-24: 24px;
  --fs-heading-20: 20px;
  --fs-heading-18: 18px;

  // colors
  --c-heading: #000;
  --c-body: #303030;

  --c-base: #40DC02;
  --c-primary: #FD3939;
}
// media query mixin
@mixin breakpoint($point) {
  @if $point==xs {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $point==max-xs {
    @media (max-width: 450px) {
      @content;
    }
  }
  @if $point==sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point==max-sm {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point==md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point==max-md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point==max-lg {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point==xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point==max-xl {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point==xxl {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==max-xxl {
    @media (max-width: 1399px) {
      @content;
    }
  }
}
@mixin min($value) {
  @media (min-width: $value) {
    @content;
  }
}
@mixin max($value) {
  @media (max-width: $value) {
    @content;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--c-body);
  line-height: var(--lh-body);
}
a {
  text-decoration: none;
  color: var(--c-body);
}
span,
sub,
sup,
a {
  display: inline-block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: var(--lh-heading);
  font-family: var(--ff-heading);
  color: var(--c-heading);
  margin: 0;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: var(--c-heading);
}
h1 {
  font-size: var(--fs-heading-37);
}
h2 {
  font-size: var(--fs-heading-43);
}
@include breakpoint(max-lg) {
  :root {
    --fs-heading-one: 40px;
    --fs-heading-two: 36px;
    --fs-heading-three: 28px;
    --fs-heading-four: 22px;
    --fs-heading-five: 20px;
    --fs-heading-six: 16px;
  }
}
@include breakpoint(max-sm) {
  :root {
    --fs-heading-one: 36px;
    --fs-heading-two: 30px;
    --fs-heading-three: 26px;
    --fs-heading-four: 20px;
    --fs-heading-five: 18px;
    --fs-heading-six: 16px;
  }
}

.container {
  max-width: 1190px;
  padding-inline: 10px;
  margin: 0 auto;
}

// header part start 
.header-top {
  text-align: center;
  background-color: var(--c-primary);
  color: #fff;
  font-size: 15px;
  padding: 7px;
}
.header-bottom {
  position: sticky;
  top: -1px;
  z-index: 111;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 1.83697e-16px 3px 4px 0px;
  padding-block: 15px;
}
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  img {
    width: 218px;
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  li {
    a {
      font-weight: 700;
      transition: .15s all ease-in-out;
      color: #000;
      padding: 5px;
      &:hover {
        color: #4368e0;
      }
    }
  }
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .02em;
  color: #f6f9fe;
  border-radius: 5px;
  padding: 12px 25px;
  background-color: rgb(64, 220, 2);
  transition: .15s all ease-in-out;
  box-shadow: RGB(37 42 50 / 32%) 0 1px 4px 1px;
  font-family: var(--ff-heading)
}
// header part end


@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(180deg);
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  70% {
      opacity: 100%;
  }
  100% {
      opacity: 100%;
  }
}

// hero section start
.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-inline: 15px;
  .sale-stock {
    max-width: 430px;
    margin: 0 !important;
    gap: 20px;
  }
  .guarantee-text {
    max-width: 430px !important;
    margin-inline: 0 !important;
    text-align: center;
    span {
      background-color: #fff !important;
      &::before {
        left: 0;
      }
    }
  }
}
.hero-content {
  width: 48%;
  h1 {
    line-height: 1.2;
    span {
      font-style: italic;
    }
  }
  .star {
    display: flex;
    gap: 5px;
    padding-top: 35px;
    padding-bottom: 30px;
    li {
      font-weight: 700;
    }
  }
  .list {
    padding-top: 20px;
    li {
      font-size: 20px;
      font-weight: 700;
      img {
        padding-right: 5px;
      }
    }
  }
  .hero-content__content {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgb(255, 255, 255) 0%, rgb(248 251 255) 74%, #F1F6FC 100%);
  }
  .transform-small-text {
    font-size: 17px;
    line-height: 1.1;
    padding-top: 10px;
  }
  .transform-text {
    font-size: 22px;
    border-bottom: 1px solid rgb(204, 222, 242);
    line-height: 1.1;
    padding-bottom: 10px;
  }
}
.hero-thumb {
  width: 48%;
  img {
    width: 100%;
  }
}
// hero section end

// brand logo wrapper start
.brand {
  background-color: #F1F6FC;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding-block: 40px;
  margin-top: 40px;
}
.brand-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #303030;
}
.brand-wrapper {
  max-width: 1050px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
// brand logo wrapper end


// comment warpper start 
.comment {
  padding-block: 60px;
}
.comment-wrapper {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 2px;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin-inline: auto;
  position: relative;
  .comment-img {
    width: 230px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    .name {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: #fff;
      font-family: var(--ff-other);
      font-size: 19px;
      padding: 10px;
      line-height: 1;
      font-weight: 700;
      background-color: rgb(12, 100, 197);
      text-shadow: transparent 0px 0px 0px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .comment-content {
    width: calc(100% - 230px);
    padding-left: 25px;
    .star {
      margin-bottom: 5px;
      img {
        width: 103px;
      }
    }
    .quote {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    .title {
      font-size: 24px;
      color: #000;
      font-weight: 700;
      font-family: var(--ff-heading);
    }
    p {
      font-size: 20px;
      font-style: italic;
    }
    .author-wrapper {
      font-size: 15px;
      strong{
        font-size: 20px;
      }
    }
  }
}
// comment warpper end


// cmn left right content start 
.cmn-section {
  padding-top: 40px;
}
.cmn-content__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1150px;
  margin-inline: auto;
  gap: 20px;
  justify-content: space-between;
  padding-block: 30px;
  align-items: center;
  .cmn-left__content {
    width: 48.5%;
    .title {
      // max-width: 500px;
      line-height: 1.1;
    }
    p {
      font-size: 18px;
      margin-block: 27px;
      line-height: 1.5;
    }
    ul {
      list-style: disc;
      padding-left: 18px;
    }
  }
  .cmn-right__thumb {
    width: 49%;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
// cmn left right content end

// slider section start
.slider-section {
  background-color: #F1F6FC;
  padding-block: 60px;
  .sale-stock {
    max-width: 430px;
    margin: 0 !important;
    gap: 20px;
  }
  .guarantee-text {
    max-width: 430px !important;
    margin-inline: 0 !important;
    text-align: center;
    span {
      &::before {
        left: 0;
      }
    }
  }
}
.slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1150px;
  margin-inline: auto;
  .slider-content {
    width: 48%;
    h2 {
      line-height: 1.1;
      font-size: 45px;
      span {
        color: #7ed321;
        display: block;
        text-align: center;
      }
    }
    p {
      font-size: 18px;
      max-width: 550px;
      line-height: 1.5;
      margin-block: 27px;
    }
  }
  .slider-thumb {
    width: 49%;
  }
}
.slider-thumb {
  .slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  .slides {
    display: none;
  }
  .active {
    display: block;
  }
  .slider-container img {
    width: 100%;
    height: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .thumbnail {
    cursor: pointer;
    width: 80px;
    height: 60px;
    margin: 0 5px;
    opacity: 0.6;
    border: 3px solid transparent;
    border-radius: 5px;
  }
  .thumbnail:hover, .thumbnail.active-thumbnail {
    border-color: #708090;
    opacity: 1;
    
  }
}
.card-area {
  padding-top: 120px;
  .card-top__content {
    text-align: center;
    h2 {
      font-size: 50px;
      font-family: var(--ff-body);
      margin-bottom: 27px;
    }
    p {
      max-width: 1090px;
      margin-inline: auto;
      font-size: 19px;
      line-height: 1.6;
      font-family: var(--ff-heading);
    }
  }
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;
  margin-inline: auto;
  gap: 30px;
}
.card-item {
  text-align: center;
  width: 31%;
  &__content {
    font-size: 23px;
    font-family: var(--ff-heading);
    h3 {
      font-size: 23px;
      line-height: 1.1;
    }
  }
  &__thumb {
    height: 269px;
    border-radius: 6px;
    border: 1px solid #d1d2d4;
    margin-bottom: 10px;
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.card-top__content {
  padding-bottom: 50px;
}
// slider section end

// discount content start
.discount-section {
  background-color: #0E0E0E;
}
.discount-content {
  text-align: center;
  padding-block: 40px;
  h2 {
    color: #fff;
    line-height: 1.1;
  }
  .discount-text {
    color: #ffcf11;
    font-size: 26px;
    font-weight: 700;
    padding-block: 25px;
  }
  .big {
    min-width: 430px;
    text-align: center;
    justify-content: center;
  }
}


// faq section start 
.faq-section {
  padding-block: 60px;
  .title {
    text-align: center;
    padding-bottom: 40px;
  }
}
.faq-wrapper {
  max-width: 805px;
  margin: 0 auto;
  
}
.faq-content {
  transition: height 0.3s ease;
  overflow: hidden;
  height: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  p {
    border-top: 1px solid #c0c0c0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px 10px;
    overflow: hidden;
    font-size: 18px;
    font-family: var(--ff-other);
    line-height: 1.3;
    margin: 0;
  }
}
.faq-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  .faq-title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: all ease .3s;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #F5F5F5;
    }
  }
  &.active {
    .faq-content {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 1px;
    }
    .faq-title {
      background-color: #F5F5F5;
    }
  }
}
.faq-icon svg {
  transition: all ease .2s;
}
.faq-item.active .faq-icon svg {
  transform: rotate(180deg); /* Rotate the arrow when active */
}
// faq section end

// claim content start
.claim-wrapper {
  background-color: #F1F6FC;
  padding-block: 60px;
}
.button.big {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 20px 45px;
  background-color: rgb(64, 220, 2);
  text-shadow: rgb(42, 139, 58) 1.93185px 0.517638px 0px;
  font-weight: bold;
  font-size: 26px;
  font-family: var(--ff-body);
}
.claim-content {
  text-align: center;
  .claim-sub1 {
    color: #252a32;
    font-weight: 700;
    font-style: italic;
    font-family: var(--ff-heading);
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .claim-sub2 {
    font-size: 17px;
    font-weight: 700;
  }
  .claim-top {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 655px;
    margin-inline: auto;
    img {
      width: 42px;
    }
  }
  h2 {
    color: #fc0000;
    width: calc(100% - 42px);
    margin: 0;
  }
}
.sale-stock {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 35px;
  padding-bottom: 25px;
  li {
    font-size: 14px;
    font-family: var(--ff-other);
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      animation: rotate 2.5s ease-in-out forwards infinite;
    }
  }
}
.dot {
    width: 9px;
    height: 9px;
    background: #36ee4e;
    border-radius: 50%;
    animation: fade 1s ease-in-out infinite;
}
.cmn-content-wrapper {
  .guarantee-text {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--ff-other);
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    z-index: 1;
    span {
      z-index: 2;
      padding-inline: 5px;
      background-color: #F1F6FC;
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 50%;
      width: 100%;
      height: 1px;
      background: #d3e4e9;
      z-index: -1;
    }
  }
}
// claim content end


// footer part start
footer {
  text-align: center;
  padding-block: 60px;
  background-color: #fff;
}
.footer-logo {
  margin-bottom: 20px;
  img {
    max-width: 230px;
  }
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    line-height: 1.5;
    font-family: var(--ff-other);
    span {
      padding-inline: 3px;
    }
  }
}
.copyright-text {
  font-family: var(--ff-other);
  line-height: 1.5;
}
// footer part end